/* How about orange and black and white for menus */
@import url(//fonts.googleapis.com/css?family=Prosto+One);
@import url(//fonts.googleapis.com/css?family=Roboto:100);

* {
  margin:0;
  padding:0;
  border:0;
}

body {
  background-color: #EEEEEE; /* A nice light grey */
}


a {
  text-decoration:inherit;
  font-size:inherit;
  color:inherit;
}

h1 {
  font-size: 20px;
}

nav.main {
  text-align:center;
  padding: 0px 0 0 4%;
  position:relative;
}



/* This is where we will store global ui settings e.g. app font. */
li.main {
   list-style:none;
   display:inline;
}

/* This is the code for the slide in animation for the navbar */
.sliding-select {
  float:left;
  padding: 5px 12px 4px 1%;
  cursor:pointer;
  margin:0 1.5% 0 0;
  display: inline-block;
  position: relative;
  transition: all ease-out 0.2s;
} 

.sliding-select-hover {
  color:#272727;
}
.sliding-select:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background: transparent;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease-out 0.2s;
}

.sliding-select-under-black:after {
  height: 4px;
  background-color:#272727;
}

.sliding-select-under-white:after {
  height: 4px;
  background-color: #EEEEEE;
}


/* Clearfix code */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}


/* Our image gallery code */
img.watson {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#sliderDiv {
  width:100%;
  display:block;
  margin: 0 auto 0px auto;
}

#slidenavbar {
  width:100%;
  height:50px;
  background: #BBC1BF;
  text-align:center;
}

.slidenav {
  height:100%;
  cursor:pointer;
  width:10%;
  border-color: #DDD;
  border-style:solid;
  position:relative;
} .slidenav:hover {
  background-color:#AAB0AE;
}


#slide-prev {
  float:left;
  border-width: 0 1px 0 0;
  background-image:url('/img/15.png');
  background-position:10% 46%;
  background-repeat:no-repeat;
}

#slide-next {
  float:right;
  border-width: 0 0 0 1px;
  background-image:url('/img/17.png');
  background-position:90% 46%;
  background-repeat:no-repeat;
}

.vcenter {
  position:absolute;
  top: 30%;
  margin-left:-19px;
}

.owlDivs {
 height: 500px;
}


/* Blog article styling */
.card-style {
   box-shadow: 3px 3px 10px #888888;
   background-color:white;
   box-shadow: 3px 3px 10px #888888;
   padding: 10px 20px 10px 20px;
   border:1px solid #E6E6E6;
} .card-style > header > h2 {
   font-family: 'Roboto',Verdana;
   display:inline;
   font-size:29px;
} .card-style > header > h2:hover {
  border-bottom: 1px solid;
} .card-style p {
   font-size:14px;
   color:#666666;
   font-family:sans-serif;
}


li.blog-nav {
   list-style:none;
   padding:3% 0;
   padding-left:10%;
   width:90%;
   background-color:white;
   border-right:1px solid #E6E6E6;
   transition: width ease-in-out 0.2s;
}

li.blog-nav:hover, li.blog-selected {
   border-right:0px;
   width:95%;
   color:white;
}

nav.main, li.blog-nav:hover, li.blog-selected,article.profile-condense > header {
  background-color:#DD4400; 
  color: white;
}

nav.blog-nav {
   display:inline-block;
   background-color:white;
   border:1px solid #E6E6E6;
   width:20%;
   margin: 18px 0px 0 3%;
}

section.blog-posts {
   width:75%;
   display:inline-block;
   float:right;
   margin:0 0 0 auto;
   padding-top:20px;
}

article.profile-condense {
   width:300px;
   padding:0;
   float:left;
   border:0;
   margin:20px;
   margin-top:10px;
}

article.profile-condense h2 {
   font-size:25px;
}

.profile-condense header img {
   height:65px;
   width:60px;
   position:relative;
   margin-top:0;
   padding:0;
   margin:0;
   margin-right:20px;
}

.profile-condense p {
   margin:4px;
   padding:5px 20px 10px 20px;
}

.profile-condense header {
   padding-bottom:7px;
}

article.blog {
   width:90%;
   margin:0 auto;
   margin-bottom:30px;
}

article.blog > header {
   margin-bottom:10px;
}

article.blog > header > h2 {
   width:90%;
   margin-bottom:3px;
}


article.blog .author, article.blog .pubdate {
   color:#BBBBBB;
   padding:0px;
   font-family: sans-serif;
   float:right;
   font-size:13px;
   margin-left:10px;
}

.author a[rel=author] {
  color:#BBBBBB;
  -webkit-transition:all ease-in-out 0.2s;
} .author a[rel=author]:hover {
  color:#999999;
}

article.blog .pubdate {
   float:left;
   font-size:10px;
   margin-left:0px;
   padding-top:10px;
}

article.blog a:hover {
}

article.blog > p {
}

.app-prefs {
  font-family: 'Prosto One', sans-serif;
}

/* Search box styling */
.large-search {
   width:70%;
   height:30px;
   font-family:sans-serif;
   margin:75px auto 80px auto;
   background-image:url('/img/search.png');
   background-size:40px auto;
   background-repeat:no-repeat;
   background-position:98% center;
   overflow:hidden;
   white-space:nowrap;
}

section.search {
   background-color: #CCCCCC; /* A nice light grey */
   box-shadow:inset 0px -9px 10px -9px rgba(0,0,0,0.5);
   margin:0;
   font-size:25px;
   height:100%;
}

/* Featured Box */
section.featured {
   padding-left:20px;
   padding-top:8px;
} section.featured > h2 {
   font-family:"Roboto";
}
