/* How about orange and black for menus */
@import url(http://fonts.googleapis.com/css?family=Prosto+One);

* {
  margin:0;
  padding:0;
  border:0;
}

body {
  background-color: #EEEEEE; /* A nice light grey */
}


a {
  text-decoration:inherit;
  font-size:inherit;
  color:inherit;
}

h1 {
  font-size: 25px;
}

nav {
  text-align:center;
  background-color:#DD4400; 
  color: #EEEEEE;
  padding: 5px 0 0 10%;
  position:relative;
}

/* This is where we will store global ui settings e.g. app font. */
.app-prefs {
  font-family: 'Prosto One', sans-serif;
}



/* This is the code for the slide in animation for the navbar */
.sliding-select {
  float:left;
  padding: 0 12px 4px 13px;
  cursor:pointer;
  margin:0 2.5% 0 0;
  display: inline-block;
  position: relative;
  transition: all ease-out 0.2s;
} .sliding-select:hover {
  color:#000000;
}
.sliding-select:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background: transparent;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease-out 0.2s;
}
.sliding-select:hover:after {
  height: 4px;
  background:#000000;
}


/* Clearfix code */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}


/* Our image gallery code */
img.watson {
  width:500px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#sliderDiv {
  width:100%;
  display:block;
  margin: 0 auto 0px auto;
}

#slidenavbar {
  width:100%;
  height:50px;
  background: #BBC1BF;
  text-align:center;
}

.slidenav {
  height:100%;
  cursor:pointer;
  width:10%;
  border-color: #DDD;
  border-style:solid;
  position:relative;
} .slidenav:hover {
  background-color:#AAB0AE;
}


#slide-prev {
  float:left;
  border-width: 0 1px 0 0;
  background-image:url('/img/15.png');
  background-position:10% 46%;
  background-repeat:no-repeat;
}

#slide-next {
  float:right;
  border-width: 0 0 0 1px;
  background-image:url('/img/17.png');
  background-position:90% 46%;
  background-repeat:no-repeat;
}

.vcenter {
  position:absolute;
  top: 30%;
  margin-left:-19px;
}
