/* How about black and yellow for menus */
@import url(http://fonts.googleapis.com/css?family=Prosto+One);

* {
  margin:0;
  padding:0;
  border:0;
}

body {
  background-color: #EEEEEE; /* Sky Blue */
}


a {
  text-decoration:inherit;
  font-size:inherit;
  color:inherit;
}

h1{
  font-size: 25px;
}

nav{
  text-align:center;
  font-family: 'Prosto One', sans-serif;
  background-color:#DD4400; /* Graphite */
  color: #EEEEEE;
  padding: 5px 0 0 10%;
  position:relative;
}

/* BOTTOM TO TOP */
.sliding-select {
  float:left;
  padding: 0 12px 4px 13px;
  cursor:pointer;
  margin:0 2.5% 0 0;
  display: inline-block;
  position: relative;
  transition: all ease-out 0.2s;
} .sliding-select:hover {
  color:#000000;
}
.sliding-select:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background: transparent;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease-out 0.2s;
}
.sliding-select:hover:after {
  height: 4px;
  background:#000000;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

img {
  width:300px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#owl-example {
  width:30%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
